<h1>Bienvenue <%= @first_name %> </h1>

<p>Auteur: <%= @author %></p>
<p>Titre du Gossip: <%= @title %></p>
<p>Auteur 
<% @array_user.each do |i| %>
<p><%= i.first_name %></p>
<%end%>
<% @array_user.first_name %>

